
  * {box-sizing: border-box;}


.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  border: 5px solid #362512;
  /*set the size of the result div:*/
/*   width: 360px; */
  height: 500px;
}
#mineralsName
{
	padding:50px 10px 10px 10px;
	
}
.img-zoom-container {
  position: relative;
  border:5px black;
}
.summary {
	padding: 10px 20px;     
    color: white;
	background-color: #485b5c;
	margin: 10px;
    border-radius: 12px;
}

.position {
	margin-left: 20px;
}

.imgStyle
{
	 display: block;
  margin-left: auto;
  margin-right: auto;
	width:500px;
	 height:300px;
	 margin:10px 10px 10px 0px;
	 
}
.heading
{
	text-shadow: 2px 2px grey;
	font-size:50px;
	color:#fff;
	text-align:center;
/* 	margin-left:600px; */
	padding:10px 10px 10px 10px;
}
.heading_div{
	background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
	color:#fff;
	padding:10px 10px 10px 10px ;
	border-radius: 15px 15px 15px 15px;
	font-size:20px;
}
.modal_heading_div{
		background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
	color:#fff;
	padding:10px 10px 10px 10px ;
/* 	border-radius: 15px 15px 15px 15px; */
	font-size:20px;
}
#myModel
{
	background-color:grey;
}

.headingRow
{
	background-color:black;
	margin-bottom:50px;
}
.modelTitleStyle
{
	background-color:black;
	color:#fff;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
 
#mineralsName
{
	padding:50px 10px 10px 10px;
	
}
.imgLens{
	padding:0px;
}
.myImage
{
	width:300px;
	height:300px;
}
.img-zoom-result-screen{
	height:400px;
/* 	width:400px; */
}
#imgScreen
{
	align:center;
	margin-top:50px;
}
.myImageScreen
{
	height:170px;
	width:170px;
/* 	margin-top:150px; */
}
img {
  border: 5px solid #555;
}
/* .vl { */
/*   border-left: 4px solid green; */
/*   height: 700px; */
/*   margin-top:20px; */
/* } */
.previewImg
{
	border: none;
}
.btnStyle
{
	background: linear-gradient(rgba(78,109,114,1) 30%, rgba(33,44,62,1) 100%);
	color:#fff;
	border-radius: 25px 25px 25px 25px;
}
hr.hrStyle {
  border-top: 2px dotted #679a92;
}
#questionNumBtn:hover {
   
  color: white;
}
#smt:hover {
   background-color:red;
  color: white;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
strong
{
	font-size:18px;
}
.properties{
	font-size: 18px;
	font-weight: normal;
    color: #000;
    padding: 0px 10px;
    margin-left: 20px;
}
/* @media screen and (min-width: 600px) */
/*  { */
/* .img-zoom-result-screen */
/* { */
/* 	width:auto; */
/* } */
/* .myImageScreen */
/* { */
/* 	margin-top:0px; */
/* } */
/* } */
@media screen and (max-width: 600px) {
  .myImageScreen{
  width:auto;
  }
  #myimage{
  width:auto;
  }
  .imgLens {
    padding: 17px;
}
}


