
#main-div {
/* 	width: 100%; */
/* 	height: 100% */
/* 	margin: 0px ; */
/* 	border: 3px solid #666; */
	/* 		background-color:#ededf1; */
/* 	background-image: url("../images/bg.jpg"); */
	font-family: Cambria, Georgia, serif;
	padding: 20px 1%;
}

header {
	border: 1px solid;
	height: 100px;
	width: 100%;
	padding: 0 5%;
	background: rgb(125,176,169);
background: linear-gradient(90deg, rgba(125,176,169,1) 0%, rgba(78,109,114,1) 31%, rgba(33,44,62,1) 100%);
}

 svg {margin-top:0px;
           margin-bottom:0px;
           margin-right:0px;
           margin-left:0px;top: -300;}
header .COEPLogo {
	padding: 1px;
	border-radius: 68px;
	vertical-align: middle;
	width: 95px;
	height: 95px;
	background: #fff;
	margin-right: 30px;
}
header .VlabLogo{
	padding: 1px;
	vertical-align: middle;
	width: 150px;
	height: 95px;
	background: #fff;
	float: right;
	margin-right: 30px;
}
header h1 {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 25px;
	margin: 20px;
	font-weight: bold;
	letter-spacing: 4px;
}

#colgName {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 25px;
	margin: 20px;
	font-weight: bold;
	letter-spacing: 4px;
}

header #appName {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 16px;
	margin: 10px;
	font-weight: bold;
	letter-spacing: 4px;
}

header h2 {
	font-family: Cambria, Georgia, serif;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 4px;
}
#LCSConfigDiv h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
#TCSConfigDiv  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
 #PCSConfigDiv  h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
#FCSConfigDiv h1 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}
#TestDiv h2 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px 0;
    font-family: Cambria, Georgia, serif;
    text-align: center;
}


#LCSConfigNext, #FCSConfigNext, #PCSConfigNext, #TCSConfigNext {
    padding: 6px 10px;
    background-color: #666;
    color: #fff;
    margin: 5px 10px 0 0;
    font-size: 15px;
    border-radius: 6px;
    font-weight: bold;
}


@media screen and (max-width:2000px) {
	#main-div {
		width: 100%;
/* 		height: auto; */
/* 		margin: 10px 0%; */
/* 		border: 3px solid #666; */
	}
}

@media screen and (min-width: 100px) and (max-width: 468px) {
	#main-div {
		width: 100%;
		height: auto;
		margin: 10px 0%;
		border: 3px solid #666;
	}
	header img {
		width: 101px;
	}
	header h1 {
		font-size: 20px;
		margin-top: 12px;
	}
	header h2 {
		font-size: 19px;
	}
}

@media screen and (min-width: 469px) and (max-width: 768px) {
	#main-div {
		width: 100%;
		height: auto;
		margin: 10px 0%;
		border: 3px solid #666;
	}
	header img {
		width: 101px;
	}
	header h1 {
		font-size: 20px;
		margin: 25px;
	}
	header h2 {
		font-size: 19px;
	}
}

/*question css end*/